# Compiled site
_site/

# Projects
projects/
!projects/index.html

# Tutorials
tutorials/
!tutorials/tutorial_schema.yml
!tutorials/index.html
!tutorials/beginner/
!tutorials/intermediate/
!tutorials/professional/

# Jekyll metadata
.jekyll-metadata

# Other files
.DS_Store

# Secrets
github.token
