<div class="footerspacer"></div>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 d-flex align-items-center">
        <ul class="list-group list-group-horizontal">
        <li class="footernav list-group-item"><a class="foot" href="/about/">about</a></li>
        <li class="footernav list-group-item"><a class="foot" href="/contact/">contact</a></li>
        <li class="footernav list-group-item"><a class="foot" href="/license/">license</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <div class="footer-logo">
          <a href="https://www.sib.swiss/services/open-software-and-databases">
            <img src="{{site.baseurl}}/images/sib_logo2023.png" width="100">
          </a>
        </div>
      </div>
      <div class="col-md-5 footer-acknowledgement d-flex align-items-center">
        <p>
          This resource is supported as a whole or in part by the <em>National Institute Of Allergy And Infectious Diseases</em> of the <em>National
          Institutes of Health</em> under grant <a class="foot" href="https://reporter.nih.gov/search/JHbtQB-XeUu8wvs3vUlFFw/project-details/10913643">
          n&deg;U24AI183840</a> - <a class="foot" href="https://pathogendatanetwork.org/">Pathogen Data Network</a>.
        </p>
      </div>
    </div>
  </div>
</div>
