<div id="header">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    {% if page.categories.first != 'home' %}
    <a class="navbar-brand" href="{{ site.baseurl }}/">
      <img src="{{site.baseurl}}/images/logo_bw.svg" style="height:2em">Taming the BEAST
    </a>
    {% endif %}
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link {% if page.categories.first == 'news' %} active {% endif %}" aria-current="page" href="{{site.baseurl}}/news/">news</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if page.categories.first == 'workshops' %} active {% endif %}" href="{{site.baseurl}}/workshops/">workshops</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if page.categories.first == 'tutorials' %} active {% endif %}" href="{{site.baseurl}}/tutorials/">tutorials</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if page.categories.first == 'contribute' %} active {% endif %}" href="{{site.baseurl}}/contribute/">contribute</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" type="application/rss+xml" href="{{ site.baseurl }}/feed.news.xml">
          <i class="bi bi-rss"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>

</div>
